.team-standings-table {
    margin-top: 20px;
}

.standings-container {
    position: relative;
}

.table {
    max-width: 95%;
}

.logo {
    margin: 10px 0;
    padding: 0 10px;
}

.logo{
    position: absolute;
    top: -55px;
    right: -55px;
    width: 150px;
}